.author-card-display{
    width: 15%;
    height: 20%;
    background-color: white;
    border: 1px solid #00131c;
    margin:10px 10px;
}
.author-content-div{
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
}
.author-cart-button{
    width:60%;
    height: 30px;
    margin-left: 40px;
    background-color: #00131c;
    color: white;
    opacity: 1;
    padding: 5px 5px;
}
